<main class="mt-10 w-full mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
  <% if @recipes.count == 0%>
    <div class="sm:text-center lg:text-left">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline">Keep track of your favourite</span>
        <span class="block text-indigo-600 xl:inline"> Recipes</span>
      </h1>
       <% if user_signed_in? %>
          <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0">There no recipes to display. Please follow the steps below to create your recipes:</p>
          <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0"><strong>Step 1: </strong> Put your mouse over the blue create button in the nav bar.</p>
          <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0"><strong>Step 2: </strong> Select New Food and complete all the form fields to add new food items.</p>
          <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0"><strong>Step 3: </strong> Put your mouse over the blue create button again and select New Recipe.</p>
          <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0"><strong>Step 4: </strong> Complete all the form fields and click save.</p>
       <% end %>
      
      <% unless user_signed_in? %>
      <p class="mt-3 text-base text-gray-500 md:mt-5 md:text-xl lg:mx-0">A simple app developed in Ruby on Rails to help you keep track of your favourite recipes.</p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a href="/users/sign_in" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"> Login </a>
        </div>
        <div class="mt-3 sm:mt-0 sm:ml-3">
          <a href="/users/sign_up" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10"> Sign up </a>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </main>
</div>
