<div class="flex-1 w-32">
  
  <div  class="flex flex-row justify-end">
  <% if user_signed_in? && current_user.id == @food.user_id %>
    <%= link_to "Edit this food", edit_food_path(@food), class: "bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"  %>
    <% end %>
    <%= link_to "Back to foods", foods_path, class: "ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
  </div>

  <%= render @food %>

</div>